/*
    Author: Xuebo Cao
    Authot URL: http://caoxuebo.me
    
    */

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}


body{
    font-family:"Open Sans", Arial, sans-serif;
    background:#ffffff;
    font-size:1em;
}

.wrap{
    margin:0 auto;
    width:80%;
}

/*------------------------------Home---------------------------------------*/
/*-----header starts-----*/
.header_bg{
    background:#23252A;
}

.header{
    padding:2% 4%;
}

.logo{
    float:left;
}
/*nav*/
.h_menu{
    margin-top:8px;
    float:right;
}

.h_menu ul li{
    display:inline-block;
    margin-right:20px;
}

.h_menu ul li.active a{
    color:#3878DE;
}

.h_menu ul li a{
    display:block;
    text-transform:uppercase;
    color:#999999;
    padding:4px 6px;
    font-size:0.875em;
    text-decoration:none;
    -webkit-text-stroke:0.5px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.h_menu ul li a:hover{
    color:#3878DE;
}
/*social icons*/
.social-icons{
    margin-top:4px;
    float:right;
    margin-left:2%;
}

.social-icons li:first-child{
    margin-left:0;
}

.social-icons li{
    display:inline-block;
    margin-left:15px;
}

.social-icons li a{
    height:32px;
    width:32px;
}

.social-icons li:nth-child(1) a{
    background:url(../images/twitter.png) 0% 0%;
}

.social-icons li:nth-child(1) a:hover{
	background: url(../images/twitter_h.png) 0% 98%;
}

.social-icons li:nth-child(2) a{
	background: url(../images/mail.png) 32% 0%;
}

.social-icons li:nth-child(2) a:hover{
	background: url(../images/mail_h.png) 32% 98%;
}


/*-----slider starts-----*/
.slider_bg{
    height:500px;
    width:100%;
    background: url('../images/slider_bg.jpg');
    background-size:auto;
    -webkit-background-size:cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.slider{
}

.slider{
    position:relative;
    overflow:auto;
}

.slider li{
    list-style:none;
}

.slider ul li{
    float:left;
}



.slider_desc {
    display: block;
    z-index: 2;
    text-shadow: none;
    margin: 0;
    max-width: none;
    width: auto;
    padding:10% 10%;
}

.slider_desc h2{
    font-size:3em;
    font-family:"Open Sans", Arial, sans-serif;
    font-weight:400;
    color:#fff;
    margin-left:40%;
    text-transform:uppercase;
}

.slider_desc p{
    width:80%;
    margin-top:5%;
    margin-left:50%;
    margin-bottom:5%;
    color:#fff;
    font-size:1em;
    line-height:1.4em;
    font-weight:200;
    font-family:"Open Sans", Arial, sans-serif;
}

.slider_desc a{
    background-color:none;
    text-indent:0px;
	border:1px solid #ffffff;
	display:inline-block;
    margin-left:60%;
    margin-top:20px;
    margin-bottom:10px;
    width:160px;
    height:45px;
    line-height:43px;
    color:#fff;
    font-size:1.2em;
    font-weight:300;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 0px 0px #999999;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    border-radius:5px;
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

.slider_desc a:hover{
    color:#000;
    background-color:#fff;
    text-shadow:none;
}




/*-----top_grid starts-----*/
.top_bg{
    background:#23252A;
    border-bottom:2px ridge #34363C;
}

.top_grid{
    padding:2% 4%;
}

.top_grid h2{
    margin-top:5px;
    color:#ffffff;
    font-size:1.2em;
    float:left;
    text-transform:uppercase;
    font-weight:600;
}

#filters {
	float: right;
	list-style:none;
}

#filters li {
	float:left;
	margin-right: 5px;
}

#filters li span {
	cursor:pointer;
	font-size: 0.8725em;
	color:#999999;
	display: block;
	text-transform:capitalize;
	padding: 5px 25px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
    border-radius:4px;
}

#filters li span.active {
	color:#ffffff;
	background: #3878DE;
}

#filters li span:hover{
	color:#ffffff;
	background: #3878DE;	
}

/*-----main starts-----*/
.main_bg{
    background:#23252A;
}

.main{
	padding:2% 1%;
}

.grid_list{
	width:100%;
}

.grid_list1{
	float:left;
	width:58.5555%;
}

.grid_list2{
	margin-left: 1.333%;
	float: right;
	width: 19.3333%
}

.grid_top{
	margin-top: 15px;
}

#portfoliolist{
	min-height: 500px;
}

.portfolio-wrapper {
	overflow:hidden;
	position: relative;
	cursor:pointer;
}

.portfolio img{
    margin-bottom:-5px;
    -webkit-filter:grayscale(100%);
    filter:gray;/* IE6-9 */ 
    filter: grayscale(1);/* W3C */ 
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}

.portfolio img:hover{
    -webkit-filter:grayscale(0);
}


/*²»ÏëÒª*/
.portfolio .label {
	position: absolute;
	width: 100%;
	height:100%;
	bottom:-100%;
}

.portfolio .label-bg {
	background: rgba(106, 122, 147, 0.59);
	width: 100%;
	height:100%;
	position: absolute;
	bottom:0;
	left:0;
}
/*------------*/

/*-----mid_bg starts-----*/
.mid_bg{
    background:#1C1E23;
    border-bottom:2px ridge #34363C;
    text-align:center;
}

h2.style{
	color: #ffffff;
	font-size: 2.2em;
	text-transform: uppercase;
	font-weight: 400;
}

.mid_bg1{
	text-align: center;
	background: #1C1E23;
}

p.para{
    padding-top:2%;
	width: 85%;
	margin: 0 auto;
	font-size: 1em;
	color: #C4C4C4;
	line-height: 1.8em;
	text-shadow: 0 1px 0 rgb(4, 5, 10);
}

.lb-album{
	margin: 4% 0;
}


.lb-album li > a{
    display:block;
}

.lb-album li > a img{
	padding-top: 60px;
}

.lb-album li > a{
	width: 100%;
	height: 200px;
	position: relative;
	padding: 10px;
	background: #1F2125;
	border: 1px solid #30333A;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.lb-album li > a span{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	line-height: 2em;
	padding: 15px;
	opacity: 0;
	background: #3878DE;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.lb-album li > a span h3{
	text-transform:capitalize;
	color: rgba(255, 255, 255, 1);
	border-bottom:1px solid #ffffff;
	font-size: 1.5em;
	padding: 10px;	
}
.lb-album li > a span p{
	color: rgba(255, 255, 255, 1);
	font-size: 0.875em;
	padding: 10px;	
	line-height: 1.5em;
}
.lb-album li > a:hover span{
	opacity: 1;
}

/*----footer starts-----*/
.footer_bg{
	background: #23252A;
}

.footer{
	padding: 2% 4%;
}

.soc-icons {
	text-align:center;
}

.soc-icons li{
    display:inline-block;
    margin-right:15px;
}

.soc-icons li a {
	display: block;
	height: 32px;
	width: 32px;
}

.soc-icons li:nth-child(1) a{
	background: url(../images/icon_1.jpg) 0% 0%;
}
.soc-icons li:nth-child(2) a{
	background: url(../images/icon_2.jpg) 0% 0%;
}
.soc-icons li:nth-child(3) a{
	background: url(../images/icon_3.jpg) 0% 0%;
}
.soc-icons li:nth-child(4) a{
	background: url(../images/icon_4.jpg) 0% 0%;
}
.soc-icons li:nth-child(5) a{
	background: url(../images/icon_5.jpg) 0% 0%;
}
.soc-icons li:nth-child(6) a{
	background: url(../images/icon_6.jpg) 0% 0%;
}

.soc-icons li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

.copy{
	text-align:center;
	margin:2% 0; 
}

.copy p{
	font-weight:100;
	font-size: 0.8725em;
	line-height: 1.8em;
	color: #c9c9c9;
}



/*----------------------------header image--------------------------------*/
/*-----slider starts-----*/
.header_img{
    width:100%;
    height:200px;
    background:url('../images/slider_bg_other.jpg');
}

.header_img_desc{
    width:50%;
    display:block;
    float:right;
    padding:4%;
    margin-right:5%;
}

.header_img h2{
    font-size:4em;
	color:#ffffff;
	text-transform: capitalize;
    font-weight:400;
}




/*----------------------------------About Me-------------------------------*/
.about{
    text-align:left;
    display:block;
    padding:4%;
}

.about-info{
    border-right:1px ridge #34363C; 
}

.education_bg{
    text-align:center;
}

.education_bg img{
    margin-top:20px;
}

.about h2{
    margin-top:30px;
    font-size:2em;
    color:#fff;
    text-align:left;
    margin-left:10%;
}

.about h3{
    font-size:1.4em;
    color:#fff;
    text-align:center;
    width:95%;
    margin:0 auto;
    padding-top:10px;
}

.job_target p{
    font-weight:500;
}

.education_bg_img{
}

.btn{
    margin-top:30px;
	font-family: "Open Sans", arial, sans-serif;
	-webkit-appearance: none;
	cursor: pointer;
	color: #929499;
	background: #23252A;
	border: 1px solid #2B2D30;
	display: inline-block;
	text-transform: uppercase;
	padding: 12px 38px;
	font-size: 0.875em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none;
}
.btn:hover {
	background: #3878DE;
	color: #ffffff;
}

.intro_me{
    padding:20px 0;
}

.intro_me h3{
    color:#FFF;
    font-size:1.4em;
}

.LatestNews a, span, p{
    color:#fff;
    font-size:0.875em;
}

.LatestNews{
    padding:20px 40px;
}

.News{
    text-align:center;
}



/*---------------------------------Contact Me-------------------------------*/
.contact_submit{
	text-align:left;
}

.contact-form{
    padding:20px;
    display:block;
}

.contact-form h4{
    color: #929499;
	font-size: 1.2em;
	text-transform: capitalize;
}

.contact-form input[type="text"], .contact-form textarea{
    font-family:"Open Sans", arial, sans-serif;
    background: rgba(255, 255, 255, 0.04);
	border: 1px solid #2E333A;
    color: #999999;
	padding: 8px;
    width:80%;
    margin-bottom:30px;
}

.contact-form textarea{
    height:100px;
}

.contact-form input[type="submit"]{
	font-family: "Open Sans", arial, sans-serif;
	margin-top: 20px;
	-webkit-appearance: none;
	cursor: pointer;
	color: #929499;
	background: #23252A;
	border: 1px solid #2B2D30;
	display: inline-block;
	text-transform: uppercase;
	padding: 12px 38px;
	font-size: 0.875em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none;
}

.contact-form input[type="submit"]:hover{
    background:#3878DE;
    color:#FFF;
}

.contact_info > p{
    line-height:2em;
    width:95%;
    color:#929499;
    font-size:0.8em;
}

.contact_info address p{
    margin:20px;
}

.contact_info address p a{
    color:#929499;
}

.contact_info address p a:hover{
    color:#3878DE;
}


/*-------------------------------Projects-----------------------------*/
.projects_para p{
    margin-bottom:20px;
}

.project p{
    margin:10px 20px;
    text-align:left;
}

.projects_main{
    padding:40px;
}

/*---------------------------Life in Boston-----------------------------*/
.life_main{
   padding:40px;
}

.life{
    margin:10px 0;
}

.life p{
    margin:10px;
    text-align:left;
}